@model IEnumerable<API.Models.stage1>

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.stage1_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.stage1_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.helptext_ID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.stage1_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.stage1_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.helptext_ID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.stage1_ID }) |
            @Html.ActionLink("Details", "Details", new { id = item.stage1_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.stage1_ID })
        </td>
    </tr>
}

</table>
