@model API.Models.stage4
@{
    ViewBag.Title = "CreateStage4";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <h4>Info</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.stage4_name, new { @class = "control-label col-md 2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.stage4_name)
                @Html.ValidationMessageFor(model => model.stage4_name)
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="helptext_ID">Helptext</label>
            @Html.LabelFor(model => model.helptext_ID, new { @class = "control-label col-md 2" })
            <div class="col-md-10">
                @Html.DropDownList("helptext_ID", String.Empty)
                @Html.ValidationMessageFor(model => model.helptext_ID)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="brn btn-default" />
            </div>
        </div>
    </div>
}
<div>
    @Html.ActionLink("Back to list", "FullList")
</div>
@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
}

