@model WebApplication1.ClientApp.Data.MetaTag

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>MetaTags</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.metatag_ID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.metatag_ID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.metatag_tag)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.metatag_tag)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ })
                <a asp-action="list">Back to List</a>
    </div>
