@model API.Models.metatag

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>metatag</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.metatag_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.metatag_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tag)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tag)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.metatag_ID}) |
    @Html.ActionLink("Back to List", "list")
</p>
