@model API.Models.stage2

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>stage2</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.stage2_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.stage2_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.stage2_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.stage2_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.helptext_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.helptext_ID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.stage2_ID }) |
    @Html.ActionLink("Back to List", "List")
</p>
