@model IEnumerable<WebApplication1.ClientApp.Data.MetaInfo>

@{
    ViewData["Title"] = "List";
}

<h2>List</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.category_name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.metatag_tag)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.category_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.metatag_tag)
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", new {id=item.metainfo_ID })
            </td>
        </tr>
}
    </tbody>
</table>
