@model IEnumerable<API.Models.helptext>

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.helptext_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.helptext_header)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.helptext_short)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.helptext_long)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.helptext_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.helptext_header)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.helptext_short)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.helptext_long)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.helptext_ID }) |
            @Html.ActionLink("Details", "Details", new { id = item.helptext_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.helptext_ID })
        </td>
    </tr>
}

</table>
