@model IEnumerable<WebApplication1.ClientApp.Data.Category>

@{
    ViewData["Title"] = "list";
}

<h2>List</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Category_name)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Category_name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.Info_ID }) |
                @Html.ActionLink("Details", "Details", new { id=item.Info_ID }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Info_ID })
            </td>
        </tr>
}
    </tbody>
</table>
