@model API.Models.InfoViewModel

@{
    ViewBag.Title = "Info details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Information details</h2>

<div>
    <hr />

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.info_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.info_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.stage1_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.stage1_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.stage2_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.stage2_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.stage3_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.stage3_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.stage4_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.stage4_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.helptext_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.helptext_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.helptext_header)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.helptext_header)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.helptext_short)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.helptext_short)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.helptext_long)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.helptext_long)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tag)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tag)
        </dd>

    </dl>
</div>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Delete" class="btn btn-default" />
    </div>
}

<h3>
    @Html.ActionLink("Edit", "EditInfo", new { id = Model.info_ID })
</h3>
<p>
    @Html.ActionLink("Back to List", "FullList")
</p>

