@model IEnumerable<API.Models.InfoViewModel>

@{
    ViewBag.Title = "Full List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Helptexts</h2>

@{
    Html.RenderPartial("~/Views/Info/_FullTextSearch.cshtml");
}
<!--
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.stage1_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.stage2_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.stage3_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.stage4_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.helptext_header)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.helptext_short)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.helptext_long)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tag)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.stage1_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.stage2_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.stage3_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.stage4_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.helptext_header)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.helptext_short)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.helptext_long)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tag)
            </td>
        </tr>
    }
</table>
  -->

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>
    $(document).ready(function () {
        function Contains(text_one, text_two) {
            if (text_one.indexOf(text_two) != -1)
                return true;
        }
        $("#Search").keyup(function () {
            var searchText = $("#Search").val().toLowerCase();
            $(".Search").each(function () {
                if (!Contains($(this).text().toLowerCase(), searchText)) {
                    $(this).hide();
                }
                else {
                    $(this).show();
                }
            });
        });
    });
</script>
