@model API.Models.InfoViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>


<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<style>
    .error {
        color: red;
    }
</style>

<div class="container" style="width:40%;margin-top:2%">

    @using (Html.BeginForm("GetAll", "Info", FormMethod.Post))
    {

        @Html.DropDownListFor(model => model.stage1_ID, ViewBag.stage1List as SelectList, "location", new { @class = "form-control" })
        @Html.DropDownListFor(model => model.stage2_ID, ViewBag.stage2List as SelectList, "system", new { @class = "form-control" })
        @Html.DropDownListFor(model => model.stage3_ID, ViewBag.stage3List as SelectList, "--select--", new { @class = "form-control" })
        @Html.DropDownListFor(model => model.stage4_ID, ViewBag.stage4List as SelectList, "--select--", new { @class = "form-control" })

        @Html.TextBoxFor(model => model.helptext_header, new { @class = "form-control", @placeholder = "header" })
        @Html.TextBoxFor(model => model.helptext_header, new { @class = "form-control", @placeholder = "summary" })
        @Html.TextBoxFor(model => model.helptext_header, new { @class = "form-control", @placeholder = "text" })

        @Html.TextBoxFor(model => model.tag, new { @class = "form-control", @placeholder = "tags" })

        <input type="submit" value="Submit" class="btn btn-block btn-primary" />

    }


</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>