@model WebApplication1.ClientApp.Data.Info

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Info</h4>
    <hr />
    <dl class="dl-horizontal">
       
        <dt>
            @Html.DisplayNameFor(model => model.stage1_name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.stage1_name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.stage2_name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.stage2_name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.stage3_name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.stage3_name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.stage4_name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.stage4_name)
        </dd>
       
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.info_ID }) |
    <a asp-action="List">Back to List</a>
</div>
