@model IEnumerable<WebApplication1.ClientApp.Data.Info>

@{
    ViewData["Title"] = "List";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
               
                <th>
                    @Html.DisplayNameFor(model => model.stage1_name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.stage2_name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.stage3_name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.stage4_name)
                </th>
              
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            
            <td>
                @Html.DisplayFor(modelItem => item.stage1_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.stage2_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.stage3_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.stage4_name)
            </td>
       
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.info_ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.info_ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.info_ID })
            </td>
        </tr>
}
    </tbody>
</table>
