@model IEnumerable<WebApplication1.ClientApp.Data.Info>

@{
    ViewData["Title"] = "List";
}

<h2>List</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
              
                <th>
                    @Html.DisplayNameFor(model => model.stage1)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.stage2)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.stage3)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.stage4)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.helptext_sum)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.helptext_full)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.helptext_header)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
          
            <td>
                @Html.DisplayFor(modelItem => item.stage1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.stage2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.stage3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.stage4)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.helptext_sum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.helptext_full)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.helptext_header)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.info_ID}) |
                @Html.ActionLink("Details", "Details", new { id=item.info_ID }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.info_ID})
            </td>
        </tr>
}
    </tbody>
</table>
